<button class="btn-dialog-close" mat-stroked-button (click)="onClose()">
  <mat-icon>cancel</mat-icon>
</button>

<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title *ngIf="addMode">Add Pays</mat-card-title>
      <mat-card-title *ngIf="!addMode">Update Pays</mat-card-title>
    </mat-card-header>
    <form
      [formGroup]="paysForm"
      (ngSubmit)="paysForm.valid && onSubmit()"
      novalidate
    >
      <mat-card-content>
        <section>
          <input
            disabled
            id="id"
            formControlName="id"
            placeholder="Pays id"
            type="hidden"
            name="id"
            [(ngModel)]="pays.id"
            autocomplete="off"
            [value]="pays.id"
          />
        </section>
        <section>
          <mat-form-field appearance="legacy">
            <input
              id="username"
              matInput
              formControlName="libelle"
              placeholder="Pays Libelle"
              type="text"
              name="username"
              [(ngModel)]="pays.libelle"
              autocomplete="off"
              [value]="pays.libelle"
            />
          </mat-form-field>
        </section>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <div class="button-row">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!paysForm.valid"
            >
              Save
            </button>
            <!-- <button mat-stroked-button color="warn" (click)="onClose()">
              Cancel
            </button> -->
          </div>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </mat-card>
</div>
