<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Formation Liste</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onCreate()">
      <mat-icon>add</mat-icon>New Formation
    </button>
  </mat-card-actions>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Titre Column -->
      <ng-container matColumnDef="titre">
        <th mat-header-cell *matHeaderCellDef>Titre</th>
        <td mat-cell *matCellDef="let element">{{ element.titre }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="typeFormation">
        <th mat-header-cell *matHeaderCellDef>Type Formation</th>
        <td mat-cell *matCellDef="let element">{{ element.typeFormation }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="duree">
        <th mat-header-cell *matHeaderCellDef>Duree</th>
        <td mat-cell *matCellDef="let element">{{ element.duree }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="budget">
        <th mat-header-cell *matHeaderCellDef>Budget</th>
        <td mat-cell *matCellDef="let element">{{ element.budget }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="domaine">
        <th mat-header-cell *matHeaderCellDef>Domaine</th>
        <td mat-cell *matCellDef="let element">
          {{ element.domaine.libelle }}
        </td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container cdkColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-fab
            color="primary"
            aria-label="Example icon button with a delete icon"
            (click)="
              onEdit(
                element.id,
                element.titre,
                element.typeFormation,
                element.duree,
                element.budget,
                element.domaine
              )
            "
          >
            <span class="material-icons">edit</span>
          </button>
          <button
            mat-fab
            color="warn"
            aria-label="Example icon button with a delete icon"
            (click)="deleteFormation(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
