<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Pays Liste</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onCreate()">
      <mat-icon>add</mat-icon>New Pays
    </button>
  </mat-card-actions>
  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Recherche Pays"
        #input
      />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Libelle">
        <th mat-header-cell *matHeaderCellDef>Libelle</th>
        <td mat-cell *matCellDef="let element">{{ element.libelle }}</td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container cdkColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-fab
            color="primary"
            aria-label="Example icon button with a delete icon"
            (click)="onEdit(element.id, element.libelle)"
          >
            <span class="material-icons">edit</span>
          </button>
          <button
            mat-fab
            color="warn"
            aria-label="Example icon button with a delete icon"
            (click)="deletePays(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
