<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    *ngIf="isLoggedIn"
  >
    <mat-toolbar>Centre Formation</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/formations">Formations</a>
      <a mat-list-item href="#" routerLink="/sessionformations"
        >Sessions Formations</a
      >
      <a mat-list-item href="#" routerLink="/participants">Participants</a>
      <a mat-list-item href="#" routerLink="/formateurs">Formateurs</a>
      <a mat-list-item href="#" routerLink="/pays">Pays</a>
      <a mat-list-item href="#" routerLink="/profils">Profiles</a>
      <a mat-list-item href="#" routerLink="/domaines">Domaines</a>
      <a mat-list-item href="#" routerLink="/organismes">Organismes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <a mat-button routerLink="/register" *ngIf="!isLoggedIn">Register</a>
      <a mat-button routerLink="/login" *ngIf="!isLoggedIn">Login</a>
      <a mat-button routerLink="/admin" *ngIf="showAdminBoard">Admin</a>
      <a mat-button routerLink="/user" *ngIf="isLoggedIn">User</a>
      <a mat-button routerLink="/profile" *ngIf="isLoggedIn">{{ username }}</a>
      <a
        mat-button
        routerLink="/login"
        *ngIf="isLoggedIn"
        (click)="logout()"
        routerLink="/"
        >Logout</a
      >
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
