<mat-card class="card">
  <mat-card-header>
    <mat-card-title>SessionFormation Liste</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onCreate()">
      <mat-icon>add</mat-icon>New SessionFormation
    </button>
  </mat-card-actions>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nom Formateur Column -->
      <ng-container matColumnDef="formateur">
        <th mat-header-cell *matHeaderCellDef>Nom Formateur</th>
        <td mat-cell *matCellDef="let element">{{ element.formateur.nom }}</td>
      </ng-container>

      <!-- Prenom Formateur Column -->
      <!-- <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef>Prénom Formateur</th>
        <td mat-cell *matCellDef="let element">{{ element.formateur.prenom }}</td>
      </ng-container> -->

      <!-- organisme Column -->
      <ng-container matColumnDef="organisme">
        <th mat-header-cell *matHeaderCellDef>Organisme</th>
        <td mat-cell *matCellDef="let element">
          {{ element.organisme.libelle }}
        </td>
      </ng-container>

      <!-- Lieu Column -->
      <ng-container matColumnDef="lieu">
        <th mat-header-cell *matHeaderCellDef>Lieu</th>
        <td mat-cell *matCellDef="let element">{{ element.lieu }}</td>
      </ng-container>

      <!-- Date Début Column -->
      <ng-container matColumnDef="dateDebut">
        <th mat-header-cell *matHeaderCellDef>Date Début</th>
        <td mat-cell *matCellDef="let element">{{ element.dateDebut }}</td>
      </ng-container>

      <!-- Date Fin Column -->
      <ng-container matColumnDef="dateFin">
        <th mat-header-cell *matHeaderCellDef>Date Fin</th>
        <td mat-cell *matCellDef="let element">{{ element.dateFin }}</td>
      </ng-container>

      <!-- nbParticipants Column -->
      <ng-container matColumnDef="nbParticipants">
        <th mat-header-cell *matHeaderCellDef>Nb Participants</th>
        <td mat-cell *matCellDef="let element">{{ element.nbParticipants }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container cdkColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-fab
            color="primary"
            aria-label="Example icon button with a delete icon"
            (click)="
              onEdit(
                element.id,
                element.formateur,
                element.organisme,
                element.lieu,
                element.dateDebut,
                element.dateFin,
                element.nbParticipants
              )
            "
          >
            <span class="material-icons">edit</span>
          </button>
          <button
            mat-fab
            color="warn"
            aria-label="Example icon button with a delete icon"
            (click)="deleteSessionFormation(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
